CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.cxx
moc_*
disneylearning
glog
captures
build/icon.png
build/*.txt
build/*.txt~
build/*.csv
build/*.csv~
build/*.gp
build/*.gp~
*.nn
